/*----------------------------------
  HEADER STYLES
  ---------------------------------------------------------------------------------*/
body {
  .rn-header {
    width: 100%;
    &__container {
      position: absolute;

      top: 1.2rem;
      display: flex;
      z-index: 10;
      left: 50%;
      transform: translatex(-50%);

      padding-left: 0.9rem;
      width: min(calc(100% - 4rem), 45rem);
      @include md-up {
        width: min(calc(100% - 4rem), 71.4rem);
        top: 1.6rem;
      }
      @include lg-up {
        width: min(calc(100% - 4rem), 125rem);
      }
    }
    &__logo {
      height: 6rem;
      @include md-up {
        height: 6.8rem;
      }
      @include lg-up {
        height: 8rem;
      }
    }
  }
}
